%ul.nav.nav-tabs
  %li.active
    = link_to 'BLoGS', 'javascript: void(0);'
  %li
    = link_to 'Messages', 'javascript: void(0);'
  %li.disabled
    = link_to 'Subscriptions', 'javascript: void(0);'
